{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
{{ form_start(form) }}
{{ form_row(form.titre) }}
{{ form_row(form.resume) }}
{{ form_row(form.duree) }}
{{ form_row(form.premiereDiffusion) }}
{{ form_row(form.image) }}
{{ form_row(form.genres) }}
<button type="submit" value='modifier' class="btn btn-primary">Sauvegarder</button>
{{ form_end(form) }}
{% endblock %}
